.sidedrawer {
  margin-top: 25;
}

.sidedrawer .sidedrawer-header {
  font-size: 21;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  height: 50;
  border-bottom-color: rgb(15, 15, 15);
  border-bottom-width: 1;
}

.sidedrawer .sidedrawer-content .nav-item {
  font-size: 18;
}
